html{
    background-color:#fff3e4;
    font-family: sans-serif;
}

h1{
    color: #535E6E;
    font-size: 170%;
}

h2{
    color: #647A7C;
    font-size: 130%;
}

.topnav {
    background-color: #535E6E;
    overflow: hidden;
  }

  .topnav a {
    float: left;
    color: #dedede;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }

  .topnav a:hover {
    background-color: #dedede;
    color: #535e6e;
  }

  .topnav a.active {
    background-color: #4CAF50;
    color: white;
  }

  .topnav2{
    overflow: hidden;
  }

  .topnav2 a{
    float: left;
    color: #dedede;
    text-align: center;
    padding: 10px 12px;
    text-decoration: none;
    font-size: 13px;
    background-color: #535e6e;
    }

    .topnav2 a:hover{
      background-color: #dedede;
      color: #535e6e;
    }