html{
    background-color:#d6fcff;
    font-family: sans-serif;
}

h1{
    color: #011936;
    font-size: 170%;
}

h2{
    color: #465362;
    font-size: 140%;
}

a{
    color: #ed254e;
    text-decoration: underline;
    text-decoration-color: #f9dc5c;
    background-color: #b3beca;
}